@import url('./bootstrap.min.css');

div.container, div.container-fluid{
    margin-top: 20px;
}

div.ad-titre{
    padding: 2em;
    background-size: cover;
    background-position: center center ;
}
div.ad-titre h1, div.ad-titre p{
    color: rgb(248, 244, 244);
    text-shadow: 3px 3px 3Px rgba(0,0,0,0.5);
}

div.ad-titre .btn {
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 1.5;
}


div.carousel-caption{
    text-shadow: 3px 3px 3Px rgba(0,0,0,0.5);
}

li.dropdown > a.nav-link {
	color: #fff7f7;
   
}
li.dropdown > a.nav-link:hover {
	background-color: #AFEEEE !important;
  
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar-mediun {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.avatar-micro{
    max-width: 36px;
    max-height: 36px;
}

.ml-auto {
    justify-content: flex-end;
}
a.logo {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}
.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
    color: firebrick !important;
}

span.rating i {
    color:goldenrod;
}

.alert a{
    text-decoration: none;
}

.alert .btn{
    color: white;
}

.badge{
    color: rgb(74, 95, 216);
}