{% extends 'admin/base.html.twig' %}

{% block title %}
    Tableau de bord!
    
{% endblock %}

{% block body %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card bg-primary text-white mb-3 text-center">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fas fa-users fa-3x"></i>
                                        </div>
                                        <div class="col-8">
                                            <h4 class="card-title">
                                            {{ stats.users}}
                                                utilisateurs inscrits
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-dark text-white mb-3 text-center">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fas fa-hotel fa-3x"></i>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="card-title">
                                                {{ stats.ads }}
                                                annonces postées
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-warning text-white white mb-3 text-center">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fas fa-folder fa-3x"></i>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="card-title">
                                              {{ stats.bookings}}
                                                réservations
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card bg-success text-white mb-3 text-center">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <i class="fas fa-comments fa-3x"></i>
                                        </div>
                                        <div class="col-6">
                                            <h4 class="card-title">
                                               {{ stats.comments}}
                                                avis
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                {% endblock %}
                
