{% extends 'base.html.twig' %}

{% block title %}
    Nos magnifiques annonces!

{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Voici les annonces de nos hotes ! </h1>

        <div class="row">
            {% for i in 0..20 %}
                <div class="col-md-4">
                    <div class="card-header mb-3">
                        <div class="card-header text-center">
                            3 chambres, <strong>
                                49&euro; / nuit</strong>
                            <br>
                                <small> Pas encore noté </small>
                        </div>
                            <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Appartement de ouf !                                                                                 						                
                                                                                                            
                                                                        
                                    </h4>
                                    <p class="card-text">
                                        lokgqkjhklhlhalkhlkklhklhklhklhklhklhklhd                     
                                                                                                            
                                                                        
                                    </p>
                                    <a href="#" class="btn btn-success float-right">
                                        En savoitr plus !                
                                                                                                            
                                                                        
                                    </a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        {% endblock %}
        