{% extends 'base.html.twig' %}
{% block title %}
    Création d'une annonce 
{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            Créer une nouvelle annonce
        </h1>

        {{ form_start(form) }}
        {{ form_label(form) }}

        <button type="submit" class="btn btn-primary">
            Créer une nouvelle annonce
        </button>

        {{ form_end(form) }}

    </div>

{% endblock %}

